<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%=title%></title>
</head>
<body>
    <h1>
        <%=title%>
    </h1>

    <section id="feed-posts">
        <h4>Posts</h4>
        <% if (locals.user){%>
        <form action="/posts/create" id="new-post" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
     </section>
     <div id="post-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p>
                        <% if(locals.user && locals.user.id == post.user.id){%>
                            <small>
                                <a href="/posts/destroy/<%=post.id%>">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </a>
                            </small>
                        <%}%>
                        <%= post.content %>
                        <br>
                        <small>
                            Posted By : 
                            <%= post.user.name %>
                        </small>

                    </p>
                    <div class="post-comment">
                        <% if (locals.user){%>
                            <i class="fa-solid fa-comment"></i>
                            <form action="/comments/create" method="POST" id="comment">
                                <input type="text" name="content" placeholder="Add Comment......">
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <input type="submit" value="Comment">
                            </form>
                        <%}%>
                        <div class="post-comment-list">
                            <ul id="post-comment-<%=post._id%>">
                                <% for (comment of post.comments){%>
                                    <p>
                                        <%=comment.user.name%> commented on your post : 
                                        <%=comment.content%>

                                        <% if(locals.user && locals.user.id == comment.user.id){%>
                                            <small>
                                                <a href="/comments/destroy/<%=comment.id%>">
                                                    <i class="fa-regular fa-rectangle-xmark"></i>
                                                </a>
                                            </small>
                                        <%}%>
                                    </p>
                                <%}%>
                            </ul>
                        
                        </div>
                    </div>
                    
                </li>
            <%} %>
        </ul>
     </div>
     <script src="https://kit.fontawesome.com/6cd81cc319.js" crossorigin="anonymous"></script>
</body>
</html>