<li>
    <p>
        <% if(locals.user && locals.user.id == post.user.id){%>
            <small>
                <a href="/posts/destroy/<%=post.id%>">
                    <i class="fa-solid fa-circle-xmark"></i>
                </a>
            </small>
        <%}%>
        <%= post.content %>
        <br>
        <small>
            Posted By : 
            <%= post.user.name %>
        </small>

    </p>
    <div class="post-comment">
        <% if (locals.user){%>
            <i class="fa-solid fa-comment"></i>
            <form action="/comments/create" method="POST" id="comment">
                <input type="text" name="content" placeholder="Add Comment......" required>
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Comment">
            </form>
        <%}%>
        <div class="post-comment-list">
            <ul id="post-comment-<%=post._id%>">
                <% for (comment of post.comments){%>
                    <p>
                        <%=comment.user.name%> commented on your post : 
                        <%=comment.content%>

                        <% if(locals.user && locals.user.id == comment.user.id){%>
                            <small>
                                <a href="/comments/destroy/<%=comment.id%>">
                                    <i class="fa-regular fa-rectangle-xmark"></i>
                                </a>
                            </small>
                        <%}%>
                    </p>
                <%}%>
            </ul>
        
        </div>
    </div>
    
</li>