<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title><%=title%></title>
</head>
<body>
    <div id="main-box">
        
       
    
        <% if(user.id == profile_user.id){ %>
            <h1>
                Welcome <%=user.name%>
            </h1>
            <form action="/users/update/<%= profile_user.id %>" method="POST">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <input type="submit"  value="Update">
            </form>
            <div>
                <h3>Details:</h3>
                <p>Name: <%=profile_user.name%></p>
                <p>email: <%=profile_user.email%></p>
                <h3>Posts:</h3>
                <p><%=post.content%></p>
            </div>
            
        <%}else{%>    
            <div id="container">
                <h3>Details:</h3>
                <p>Name: <%=profile_user.name%></p>
                <p>email: <%=profile_user.email%></p>
            </div>
        <%} %>
        
    </div>
    
    
</body>
</html>