<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title><%=title%></title>
</head>
<body>
    <h1>
        Welcome <%=user.name%>
    </h1>
    <h3>Details:</h3>
    <p>Name: <%=user.name%></p>
    <p>email: <%=user.email%></p>
    <h3>Posts:</h3>
    <p><%=user.post%></p>
    
</body>
</html>